<a href="https://colab.research.google.com/github/Manith-Ratnayake/Machine_Learning/blob/main/Machine_Learning.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

>[Google Drive Set Up](#scrollTo=qi4nzm-UbvwX)

>[File Reading](#scrollTo=oLJ-am5qb2e_)

>[Data Set Overview](#scrollTo=gpyoZus_mURE)

>[Column Overview](#scrollTo=FIwNDTGW1iFO)

>>>>>>[Empty Columns](#scrollTo=662Cg6Vz4CMP)

>>>>>[Not Empty Columns](#scrollTo=VfmAT343QZce)

>[Missing Values](#scrollTo=q48TEBmyPIsZ)

>[Encoding](#scrollTo=ZwDCD1FLmloH)

>[Data Set Split](#scrollTo=nodSXMynmq2N)

>[Feature Engineering](#scrollTo=t8oCqWAxS3-n)

>[Naive Bayes Model](#scrollTo=PcDBziRyl46t)

>>>>>[Naive Bayes Tune 1](#scrollTo=WBx7UA-QNzCi)

>>>>>[Naive Bays Tune 2](#scrollTo=5zTTlefsOf8o)

>>>>>[Naive Bays Tune 3](#scrollTo=-nXrvXdJOt7B)

>[Random Forest Model](#scrollTo=2PgUFKqHmAPN)

>>>>>[Random Forest Tune 1](#scrollTo=5yM87jXLNqbZ)

>>>>>[Random Forest Tune 2](#scrollTo=olhfzFolOAMh)

>>>>>[Random Forest Tune 3](#scrollTo=Uf6TilWaOTJW)

#**Google Drive Set Up**

In [4]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [5]:
# import warnings
# warnings.filterwarnings('ignore')

#**File Reading**

In [6]:
import pandas as pd

file_path = '/content/drive/My Drive/Machine Learning/adult.data'
#file_path = 'adult.data'

adult_data = pd.read_csv(file_path, delimiter=',', header=None)

column_names = ['age', 'workclass', 'fnlwgt', 'education', 'education-num', 'marital-status',
                'occupation', 'relationship', 'race', 'sex', 'capital-gain', 'capital-loss',
                'hours-per-week', 'native-country', 'income']
adult_data.columns = column_names

#**Data Set Overview**

In [7]:
# Checking the first few rows
adult_data.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,income
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [8]:
# Statistics
adult_data.describe().T

,count,mean,std,min,25%,50%,75%,max
age,32561.0,38.581647,13.640433,17.0,28.0,37.0,48.0,90.0
fnlwgt,32561.0,189778.366512,105549.977697,12285.0,117827.0,178356.0,237051.0,1484705.0
education-num,32561.0,10.080679,2.572720,1.0,9.0,10.0,12.0,16.0
capital-gain,32561.0,1077.648844,7385.292085,0.0,0.0,0.0,0.0,99999.0
capital-loss,32561.0,87.303830,402.960219,0.0,0.0,0.0,0.0,4356.0
hours-per-week,32561.0,40.437456,12.347429,1.0,40.0,40.0,45.0,99.0

In [9]:
# No of Rows and columns
adult_data.shape

(32561, 15)

#**Column Overview**

In [10]:
adult_data.columns

Index(['age', 'workclass', 'fnlwgt', 'education', 'education-num',
       'marital-status', 'occupation', 'relationship', 'race', 'sex',
       'capital-gain', 'capital-loss', 'hours-per-week', 'native-country',
       'income'],
      dtype='object')

In [11]:
adult_data.nunique()

age                  73
workclass             9
fnlwgt            21648
education            16
education-num        16
marital-status        7
occupation           15
relationship          6
race                  5
sex                   2
capital-gain        119
capital-loss         92
hours-per-week       94
native-country       42
income                2
dtype: int64

In [12]:
# Type
adult_data.dtypes

age                int64
workclass         object
fnlwgt             int64
education         object
education-num      int64
marital-status    object
occupation        object
relationship      object
race              object
sex               object
capital-gain       int64
capital-loss       int64
hours-per-week     int64
native-country    object
income            object
dtype: object

######Empty Columns

In [13]:
adult_data['occupation'].value_counts()

 Prof-specialty       4140
 Craft-repair         4099
 Exec-managerial      4066
 Adm-clerical         3770
 Sales                3650
 Other-service        3295
 Machine-op-inspct    2002
 ?                    1843
 Transport-moving     1597
 Handlers-cleaners    1370
 Farming-fishing       994
 Tech-support          928
 Protective-serv       649
 Priv-house-serv       149
 Armed-Forces            9
Name: occupation, dtype: int64

In [14]:
adult_data['native-country'].value_counts()

 United-States                 29170
 Mexico                          643
 ?                               583
 Philippines                     198
 Germany                         137
 Canada                          121
 Puerto-Rico                     114
 El-Salvador                     106
 India                           100
 Cuba                             95
 England                          90
 Jamaica                          81
 South                            80
 China                            75
 Italy                            73
 Dominican-Republic               70
 Vietnam                          67
 Guatemala                        64
 Japan                            62
 Poland                           60
 Columbia                         59
 Taiwan                           51
 Haiti                            44
 Iran                             43
 Portugal                         37
 Nicaragua                        34
 Peru                             31
 France                           29
 Greece                           29
 Ecuador                          28
 Ireland                          24
 Hong                             20
 Cambodia                         19
 Trinadad&Tobago                  19
 Laos                             18
 Thailand                         18
 Yugoslavia                       16
 Outlying-US(Guam-USVI-etc)       14
 Honduras                         13
 Hungary                          13
 Scotland                         12
 Holand-Netherlands                1
Name: native-country, dtype: int64

In [15]:
adult_data['workclass'].value_counts()

 Private             22696
 Self-emp-not-inc     2541
 Local-gov            2093
 ?                    1836
 State-gov            1298
 Self-emp-inc         1116
 Federal-gov           960
 Without-pay            14
 Never-worked            7
Name: workclass, dtype: int64

#####Not Empty Columns

In [16]:
# Distribution of the target variable
adult_data['capital-gain'].value_counts()

0        29849
15024      347
7688       284
7298       246
99999      159
         ...
1111         1
2538         1
22040        1
4931         1
5060         1
Name: capital-gain, Length: 119, dtype: int64

In [17]:
adult_data['education'].value_counts()

 HS-grad         10501
 Some-college     7291
 Bachelors        5355
 Masters          1723
 Assoc-voc        1382
 11th             1175
 Assoc-acdm       1067
 10th              933
 7th-8th           646
 Prof-school       576
 9th               514
 12th              433
 Doctorate         413
 5th-6th           333
 1st-4th           168
 Preschool          51
Name: education, dtype: int64

In [18]:
adult_data['education-num'].value_counts()

9     10501
10     7291
13     5355
14     1723
11     1382
7      1175
12     1067
6       933
4       646
15      576
5       514
8       433
16      413
3       333
2       168
1        51
Name: education-num, dtype: int64

In [19]:
# Distribution of the target variable
adult_data['income'].value_counts()

 <=50K    24720
 >50K      7841
Name: income, dtype: int64

#**Missing Values**

In [20]:
adult_data['workclass'] = adult_data['workclass'].replace('?', 'Private')
adult_data['occupation'] = adult_data['occupation'].replace('?', 'Prof-specialty')
adult_data['native-country'] = adult_data['native-country'].replace('?', 'United-States')

#**Encoding**

In [21]:
from sklearn.preprocessing import OneHotEncoder

# Assuming 'file_data' is your DataFrame and 'income' is the target variable
categorical_cols = adult_data.columns[adult_data.dtypes==object].tolist()
categorical_cols.remove('income')

# Apply one-hot encoding with the updated parameter
# Use 'sparse_output=False' if you're using scikit-learn 1.2 or newer.
# This will ensure your code is forward-compatible.
one_hot_encoder = OneHotEncoder(sparse_output=False)
categorical_data_encoded = one_hot_encoder.fit_transform(adult_data[categorical_cols])

# Convert to DataFrame and add column names
encoded_columns = one_hot_encoder.get_feature_names_out(categorical_cols)
categorical_data_encoded_df = pd.DataFrame(categorical_data_encoded, columns=encoded_columns)

# Drop original categorical columns and concat encoded columns
adult_data = adult_data.drop(categorical_cols, axis=1).reset_index(drop=True)
adult_data_encoded = pd.concat([adult_data, categorical_data_encoded_df], axis=1)

#**Data Set Split**

In [23]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

NameError: name 'X' is not defined

#**Feature Engineering**

In [24]:
# education Category
adult_data.education= adult_data.education.replace(['Preschool', '1st-4th', '5th-6th', '7th-8th', '9th','10th', '11th', '12th'], 'school')
adult_data.education = adult_data.education.replace('HS-grad', 'high school')
adult_data.education = adult_data.education.replace(['Assoc-voc', 'Assoc-acdm', 'Prof-school', 'Some-college'], 'higher')
adult_data.education = adult_data.education.replace('Bachelors', 'undergrad')
adult_data.education = adult_data.education.replace('Masters', 'grad')
adult_data.education = adult_data.education.replace('Doctorate', 'doc')

AttributeError: 'DataFrame' object has no attribute 'education'

In [ ]:
#martial status
adult_data['marital-status']= adult_data['marital-status'].replace(['Married-civ-spouse', 'Married-AF-spouse'], 'married')
adult_data['marital-status']= adult_data['marital-status'].replace(['Never-married'], 'not-married')
adult_data['marital-status']= adult_data['marital-status'].replace(['Divorced', 'Separated','Widowed',
                                                'Married-spouse-absent'], 'other')

In [ ]:
# income
adult_data.income = adult_data.income.replace('<=50K', 0)
adult_data.income = adult_data.income.replace('>50K', 1)

#**Naive Bayes Model**

##### Naive Bayes Tune 1

In [ ]:
from sklearn.naive_bayes import GaussianNB
from sklearn.metrics import accuracy_score, classification_report

naive_base_model = GaussianNB()
naive_base_model.fit(X_train, y_train)
naive_base_predictions = naive_base_model.predict(X_test)

print(f'Naïve Bayes Accuracy: {accuracy_score(y_test, naive_base_predictions)}')
print(classification_report(y_test, naive_base_predictions))

In [ ]:
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score, roc_auc_score

# Evaluation for Naïve Bayes
naive_bayes_accuracy = accuracy_score(y_test, naive_base_predictions)
naive_bayes_precision = precision_score(y_test, naive_base_predictions)
naive_bayes_recall = recall_score(y_test, naive_base_predictions)
naive_bayes_f1 = f1_score(y_test, naive_base_predictions)
# naive_bayes_auc = roc_auc_score(y_test, naive_base_predictions)

print("Naïve Bayes model Performance \n")
print(f"Accuracy: {naive_bayes_accuracy:.4f}")
print(f"Precision: {naive_bayes_precision:.4f}")
print(f"Recall: {naive_bayes_recall:.4f}")
print(f"F1 Score: {naive_bayes_f1:.4f}")
# print(f"AUC: {naive_bayes_auc:.4f}\n")

##### Naive Bays Tune 2

In [ ]:
from sklearn.naive_bayes import GaussianNB
from sklearn.metrics import accuracy_score, classification_report

naive_base_model = GaussianNB()
naive_base_model.fit(X_train, y_train)
naive_base_predictions = naive_base_model.predict(X_test)

print(f'Naïve Bayes Accuracy: {accuracy_score(y_test, naive_base_predictions)}')
print(classification_report(y_test, naive_base_predictions))

In [ ]:
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score, roc_auc_score

# Evaluation for Naïve Bayes
naive_bayes_accuracy = accuracy_score(y_test, naive_base_predictions)
naive_bayes_precision = precision_score(y_test, naive_base_predictions)
naive_bayes_recall = recall_score(y_test, naive_base_predictions)
naive_bayes_f1 = f1_score(y_test, naive_base_predictions)
# naive_bayes_auc = roc_auc_score(y_test, naive_base_predictions)

print("Naïve Bayes model Performance \n")
print(f"Accuracy: {naive_bayes_accuracy:.4f}")
print(f"Precision: {naive_bayes_precision:.4f}")
print(f"Recall: {naive_bayes_recall:.4f}")
print(f"F1 Score: {naive_bayes_f1:.4f}")
# print(f"AUC: {naive_bayes_auc:.4f}\n")

##### Naive Bays Tune 3

In [ ]:
from sklearn.naive_bayes import GaussianNB
from sklearn.metrics import accuracy_score, classification_report

naive_base_model = GaussianNB()
naive_base_model.fit(X_train, y_train)
naive_base_predictions = naive_base_model.predict(X_test)

print(f'Naïve Bayes Accuracy: {accuracy_score(y_test, naive_base_predictions)}')
print(classification_report(y_test, naive_base_predictions))

In [ ]:
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score, roc_auc_score

# Evaluation for Naïve Bayes
naive_bayes_accuracy = accuracy_score(y_test, naive_base_predictions)
naive_bayes_precision = precision_score(y_test, naive_base_predictions)
naive_bayes_recall = recall_score(y_test, naive_base_predictions)
naive_bayes_f1 = f1_score(y_test, naive_base_predictions)
# naive_bayes_auc = roc_auc_score(y_test, naive_base_predictions)

print("Naïve Bayes model Performance \n")
print(f"Accuracy: {naive_bayes_accuracy:.4f}")
print(f"Precision: {naive_bayes_precision:.4f}")
print(f"Recall: {naive_bayes_recall:.4f}")
print(f"F1 Score: {naive_bayes_f1:.4f}")
# print(f"AUC: {naive_bayes_auc:.4f}\n")

#**Random Forest Model**

#####Random Forest Tune 1

In [ ]:
from sklearn.ensemble import RandomForestClassifier

random_forest_model = RandomForestClassifier(n_estimators=100, random_state=42)
random_forest_model.fit(X_train, y_train)
random_forest_model_predictions = random_forest_model.predict(X_test)

print(f'Random Forest Accuracy: {accuracy_score(y_test, random_forest_model_predictions)}')
print(classification_report(y_test, random_forest_model_predictions))

In [ ]:
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score, roc_auc_score

# Evaluation for Random Forest
random_forest_accuracy = accuracy_score(y_test, random_forest_model_predictions)
random_forest_precision = precision_score(y_test, random_forest_model_predictions)
random_forest_recall = recall_score(y_test, random_forest_model_predictions)
random_forest_f1 = f1_score(y_test, random_forest_model_predictions)
# random_forest_auc = roc_auc_score(y_test, random_forest_model_predictions)

print("Random Forest model Performance \n")
print(f"Accuracy: {random_forest_accuracy:.4f}")
print(f"Precision: {random_forest_precision:.4f}")
print(f"Recall: {random_forest_recall:.4f}")
print(f"F1 Score: {random_forest_f1:.4f}")
# print(f"AUC: {random_forest_auc:.4f}")

##### Random Forest Tune 2

In [ ]:
from sklearn.ensemble import RandomForestClassifier

random_forest_model = RandomForestClassifier(n_estimators=100, random_state=42)
random_forest_model.fit(X_train, y_train)
random_forest_model_predictions = random_forest_model.predict(X_test)

print(f'Random Forest Accuracy: {accuracy_score(y_test, random_forest_model_predictions)}')
print(classification_report(y_test, random_forest_model_predictions))

In [ ]:
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score, roc_auc_score

# Evaluation for Random Forest
random_forest_accuracy = accuracy_score(y_test, random_forest_model_predictions)
random_forest_precision = precision_score(y_test, random_forest_model_predictions)
random_forest_recall = recall_score(y_test, random_forest_model_predictions)
random_forest_f1 = f1_score(y_test, random_forest_model_predictions)
# random_forest_auc = roc_auc_score(y_test, random_forest_model_predictions)

print("Random Forest model Performance \n")
print(f"Accuracy: {random_forest_accuracy:.4f}")
print(f"Precision: {random_forest_precision:.4f}")
print(f"Recall: {random_forest_recall:.4f}")
print(f"F1 Score: {random_forest_f1:.4f}")
# print(f"AUC: {random_forest_auc:.4f}")

##### Random Forest Tune 3

In [ ]:
from sklearn.ensemble import RandomForestClassifier

random_forest_model = RandomForestClassifier(n_estimators=100, random_state=42)
random_forest_model.fit(X_train, y_train)
random_forest_model_predictions = random_forest_model.predict(X_test)

print(f'Random Forest Accuracy: {accuracy_score(y_test, random_forest_model_predictions)}')
print(classification_report(y_test, random_forest_model_predictions))

In [ ]:
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score, roc_auc_score

# Evaluation for Random Forest
random_forest_accuracy = accuracy_score(y_test, random_forest_model_predictions)
random_forest_precision = precision_score(y_test, random_forest_model_predictions)
random_forest_recall = recall_score(y_test, random_forest_model_predictions)
random_forest_f1 = f1_score(y_test, random_forest_model_predictions)
# random_forest_auc = roc_auc_score(y_test, random_forest_model_predictions)

print("Random Forest model Performance \n")
print(f"Accuracy: {random_forest_accuracy:.4f}")
print(f"Precision: {random_forest_precision:.4f}")
print(f"Recall: {random_forest_recall:.4f}")
print(f"F1 Score: {random_forest_f1:.4f}")
# print(f"AUC: {random_forest_auc:.4f}")